<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
</head>
<body>
    <h1>Home Page</h1>
    <form method="POST">
        <button type="submit" formaction="add_note">Add Note</button>
        <button type="submit" formaction="delete_note.html">Delete Note</button>
        <button type="submit" formaction="display_note.html">Display Note</button>
        <button type="submit" formaction="edit_note.html">Edit Note</button>
    </form>
</body>
</html>